:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --button-primary-color-hover: #188CE8;
    --primari-white-color: #FFFFFF;
    --button-color: #F5F4FA;
    --link-contacts-color: rgba(255, 255, 255, 0.6)
}

body {
    background-color: var(--primari-white-color);
    color: var(--primary-text-color);
}





/* Site nav */

.header-logo {
    color: #000000;
    text-decoration: none;
}

.logo-part {
    color: var(--accent-color);
    text-decoration: none;
}

.header-nav-list {
    list-style: none;   
}

.header-nav-link.current {
    color: var(--accent-color);
}

.header-nav-link {
    color: var(--title-text-color);
    text-decoration: none;
    
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: var(--accent-color);
}

.header-contacts-list {
    list-style: none;
}

.header-contacts-link {
    color: var(--primary-text-color);
    text-decoration: none;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
    color: var(--accent-color);
}



/* index.html */
/* Site main */

/* Main screen */

.hero-title {
    color: var(--primari-white-color);
}

/* Features */

.features-list {
    list-style: none;
}

.features-title {
    color: var(--title-text-color);
}

/* What are we doing */

.services-list {
    list-style: none;
}

.services-title {
    color: var(--title-text-color);
}

/* Our team */

.team-list {
    list-style: none;
}

.team-title {
    color: var(--title-text-color);
}

.team-item-title {
    color: var(--title-text-color);
}




/* portfolio.html */
/* Site main */
/* Description */

.portfolio-list {
    list-style: none;
}

.description-list {
    list-style: none;
}

.description-title {
    color: var(--title-text-color);
}




/* Footer */

.footer-logo {
    color: var(--primari-white-color);
    text-decoration: none;
}

.footer-list {
    list-style: none;
}

.footer-address-link {
    color: var(--primari-white-color);
    text-decoration: none;
}

.footer-address-link:hover,
.footer-address-link:focus {
    color: var(--accent-color);
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
    color: var(--accent-color);
}

.footer-contacts-link {
    color: var(--link-contacts-color);
    text-decoration: none;
}

/* Button */

.button.primary {
    color: var(--primari-white-color);
    background-color: var(--accent-color);
}

.button.primary:hover,
.button.primary:focus {
    color: var(--primari-white-color);
    background-color: var(--button-primary-color-hover);
}

.button.secondary {
    color: var(--title-text-color);
    background-color: var(--button-color);
}

.button.secondary:hover,
.button.secondary:focus {
    color: var(--primari-white-color);
    background-color: var(--accent-color);
}

/* цвет основного текста #212121
вторичный цвет текста #757575
цвет H1 #FFFFFF
цвет текста на кнопках #FFFFFF
цвет лого-части шапка #2196F3
цвет лого шапка #000000
цвет навигации #212121
цвет навигации при ховере #2196F3
цвет контактов шапки #757575
цвет контактов шапки при ховере #2196F3
цвет лого части подвал # 2196F3
цвет лого подвал #FFFFFF
цвет адреса подвал #FFFFFF
цвет контактов подвал rgba(255, 255, 255, 0.6)
цвет кнопок #F5F4FA
*/
